.Toolbar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 2vw 10vw;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.bar {
  height: 30px;
  width: 35px;
}

.close-btn {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  background-color: #118cc0;
  border-radius: 10px;
  padding: 9px 18px;
  font-weight: 500;
  border: none;
}

.get-started-btn {
  margin-left: auto;
}

@media (max-width: 1036px) {
  .Toolbar {
    justify-content: space-between;
    padding: 2vw 5vw;
    gap: 0;
  }
}

@media (max-width: 769px) {
  .desktop-view-only {
    display: none;
  }

  .get-started-btn {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 769px) {
  .get-started-btn {
    display: none;
  }
}

@media (max-width: 631px) {
  .Toolbar {
    padding: 4vw 6vw;
  }

  .bar {
    height: 25px;
    width: 30px;
  }
}
